calphy==1.2.12
damask==3.0.0a8
fenics==2019.1.0
gpaw==23.9.1
hyperspy==1.7.6
ipywidgets==8.1.1
maggma==0.60.0
nbgitpuller==1.2.0
nglview==3.0.8
pyiron-atomistics==0.4.1
pyiron-continuum==0.0.8
pyiron-contrib==0.1.13
pyiron-gpl==0.0.4
pyiron==0.5.1
pyiron_base==0.6.16
pyiron_experimental==0.0.3
pymatgen==2023.11.12
pystem==0.0.26
python-ace==0.2.8
pyvista==0.43.1
pyxem==0.16.0
pyxtal==0.6.1
scanf==1.5.2
seaborn==0.13.0
sqlalchemy==2.0.23
structdbrest==0.0.1
temmeta==0.0.6
vtk==9.2.6
