ipywidgets==8.1.1
pyiron_base==0.6.8
seaborn==0.13.0
sqlalchemy==2.0.22
damask==3.0.0a7
fenics==2019.1.0
pyiron-continuum==0.0.6
pyiron-gpl==0.0.3
pymatgen==2023.10.11
pyvista==0.42.3
vtk==9.2.6
pyiron_experimental==0.0.2
temmeta==0.0.6
pyxem==0.15.1
pystem==0.0.26
scanf==1.5.2
hyperspy==1.7.5
pyiron==0.5.0
pyiron-atomistics==0.3.5
maggma==0.57.4
nglview==3.0.8
structdbrest==0.0.1
pyiron-contrib==0.1.13
nbgitpuller==1.2.0
python-ace==0.2.8
calphy==1.2.12
pyxtal==0.6.1
gpaw==23.9.1
